In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt
import datetime as dt
import seaborn as sns
import os

In [3]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)

### **Data Processing**

#### Merge Datasets

In [4]:
path = "/content/drive/MyDrive/Data Science/Data Sets/GDA - Cyclistic Bike Share"

files = [file for file in os.listdir(path)]

all_months_data = pd.DataFrame()

for file in files:
  df = pd.read_csv("/content/drive/MyDrive/Data Science/Data Sets/GDA - Cyclistic Bike Share/"+file)
  all_months_data = pd.concat([all_months_data, df])

all_months_data.to_csv("all_data.csv", index= False)

#### Read in Updated Data

In [5]:
data_df = pd.read_csv("all_data.csv")
all_data = data_df
all_data.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

            ride_id rideable_type  ... end_lng member_casual
0  A847FADBBC638E45   docked_bike  ... -87.659        member
1  5405B80E996FF60D   docked_bike  ... -87.724        member
2  5DD24A79A4E006F4   docked_bike  ... -87.623        member
3  2A59BBDF5CDBA725   docked_bike  ... -87.672        member
4  27AD306C119C6158   docked_bike  ... -87.655        casual

[5 rows x 13 columns]

#### Augument data with addition columns

##### **Ride Duration**

In [6]:
all_data['started_at'] = pd.to_datetime(all_data['started_at'])
all_data['ended_at'] = pd.to_datetime(all_data['ended_at'])
all_data['Ride Duration'] = (all_data['ended_at'] - all_data['started_at']).astype('timedelta64[s]').astype(np.int64)

##### **Month**

In [7]:
all_data['Month'] = all_data['started_at'].dt.month

##### **Day of the Week**

In [8]:
# Mon - Sun: 0 - 6
all_data['Day of Week'] = all_data['started_at'].dt.weekday

##### **Hour**

In [9]:
all_data['Hour'] = all_data['started_at'].dt.hour

##### **Time of Day**

In [10]:
# Morning (6AM-12PM), Afternoon (12PM-4PM), Evening (4PM-10PM), Late Night(10PM-6AM)

def time_of_day(hour):
    if 6 <= hour < 12:
      return 'Morning'
    elif 12 <= hour < 16:
      return 'Afternoon'
    elif 16 <= hour < 20:
      return 'Evening'
    else: 
      return 'Late Night'

all_data['Time of Day'] = all_data['Hour']
all_data['Time of Day'] = all_data['Time of Day'].apply(time_of_day)

### **Data Cleaning**

#### Null Values

In [11]:
all_data.info(verbose=True, null_counts=True)

''' 
Null values only in:

start_station_name
start_station_id 
end_station_name
end_station_id
end_lat
end_lng

Rows still contains essential data and shouldn't be drop 
'''

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3826978 entries, 0 to 3826977
Data columns (total 18 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   ride_id             3826978 non-null  object
 1   rideable_type       3826978 non-null  object
 2   started_at          3826978 non-null  datetime64[ns]
 3   ended_at            3826978 non-null  datetime64[ns]
 4   start_station_name  3678747 non-null  object
 5   start_station_id    3678121 non-null  object
 6   end_station_name    3655562 non-null  object
 7   end_station_id      3655101 non-null  object
 8   start_lat           3826978 non-null  float64
 9   start_lng           3826978 non-null  float64
 10  end_lat             3821973 non-null  float64
 11  end_lng             3821973 non-null  float64
 12  member_casual       3826978 non-null  object
 13  Ride Duration       3826978 non-null  int64
 14  Month               3826978 non-null  int64
 15  Day of Week         3826978 non-null  int64
 16  Hour                3826978 non-null  int64
 17  Time of Day         3826978 non-null  object
dtypes: datetime64[ns](2), float64(4), int64(4), object(8)
memory usage: 525.6+ MB

" \nNull values only in:\n\nstart_station_name\nstart_station_id \nend_station_name\nend_station_id\nend_lat\nend_lng\n\nRows still contains essential data and shouldn't be drop \n"

#### Duplicates

In [12]:
# Check if any rows are complete duplicates
all_data.duplicated().sum()

0

In [13]:
# Main column to screen for duplicates for error is 'ride_id'
all_data.ride_id.duplicated().sum()

209

In [14]:
all_data.loc[all_data.ride_id.duplicated(keep=False), :].sort_values('ride_id').head(6)

# By sorting duplicate rows by 'ride_id', it shows how each pair includes a negative 'Ride Duration' which is invalid. 
# Seems like a system/data collection error

                  ride_id rideable_type  ... Hour Time of Day
3006508  021A73F8C18B932D   docked_bike  ...   12   Afternoon
2829583  021A73F8C18B932D   docked_bike  ...   16     Evening
2797522  0334987B57662109   docked_bike  ...   16     Evening
3020384  0334987B57662109   docked_bike  ...   11     Morning
3030159  038CAB4A84D9A56B   docked_bike  ...   11     Morning
2781321  038CAB4A84D9A56B   docked_bike  ...   16     Evening

[6 rows x 18 columns]

In [15]:
# Find/drop all rows that are duplicates AND Negative 'Ride Duration'

all_data_filtered = all_data.drop(all_data.loc[(all_data.ride_id.duplicated(keep=False)) & (all_data['Ride Duration'] < 0) , :].index)

# Dropping 211 rows instead of 209/418 duplicates. 2 original rows had negative 'Ride Duration'

#### Negative Values *(Ride Duration)*

In [16]:
# Check for any negative values for 'Ride Duration'

all_data_filtered.loc[all_data_filtered['Ride Duration'] < 0, 'Ride Duration'].count()

10346

In [17]:
# Drop rows with negative values for 'Ride Duration'
all_data_filtered.drop(all_data_filtered.loc[all_data_filtered['Ride Duration'] < 0, :].index, inplace=True)

In [18]:
all_data_filtered.loc[all_data_filtered['Ride Duration'] < 0, 'Ride Duration'].count()

0

#### Outliers *(Ride Duration)*

##### **IQR Method**

In [19]:
Q1 = all_data_filtered['Ride Duration'].quantile(0.25)
Q3 = all_data_filtered['Ride Duration'].quantile(0.75)
IQR = Q3 - Q1
Upper_OL = (Q3 + (1.5 * IQR))
Lower_OL = (Q1 - (1.5 * IQR))

#Lower_OL is in negatives, doesn't apply

all_data_filtered.drop(all_data_filtered.loc[all_data_filtered['Ride Duration'] > Upper_OL, 'Ride Duration'].index, inplace=True)

### **Data Analysis**

#### Summary Statistics

In [20]:
all_data_filtered.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3518832 entries, 0 to 3826977
Data columns (total 18 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   ride_id             3518832 non-null  object
 1   rideable_type       3518832 non-null  object
 2   started_at          3518832 non-null  datetime64[ns]
 3   ended_at            3518832 non-null  datetime64[ns]
 4   start_station_name  3375479 non-null  object
 5   start_station_id    3374878 non-null  object
 6   end_station_name    3359962 non-null  object
 7   end_station_id      3359515 non-null  object
 8   start_lat           3518832 non-null  float64
 9   start_lng           3518832 non-null  float64
 10  end_lat             3516664 non-null  float64
 11  end_lng             3516664 non-null  float64
 12  member_casual       3518832 non-null  object
 13  Ride Duration       3518832 non-null  int64
 14  Month               3518832 non-null  int64
 15  Day of Week         3518832 non-null  int64
 16  Hour                3518832 non-null  int64
 17  Time of Day         3518832 non-null  object
dtypes: datetime64[ns](2), float64(4), int64(4), object(8)
memory usage: 510.1+ MB

In [21]:
all_data_filtered.describe(include='object')

                 ride_id rideable_type  ... member_casual  Time of Day
count            3518832       3518832  ...       3518832      3518832
unique           3518832             3  ...             2            4
top     81E0B9735EA52FA6   docked_bike  ...        member      Evening
freq                   1       2325331  ...       2223302      1230697

[4 rows x 8 columns]

In [22]:
all_data_filtered['Ride Duration'].describe()

count   3518832.000
mean        978.910
std         693.933
min           0.000
25%         445.000
50%         790.000
75%        1362.000
max        3258.000
Name: Ride Duration, dtype: float64

#### Ride Count Analysis

##### **Total Ride Count**

In [23]:
total_rc = all_data_filtered['ride_id'].count()

##### **Ride Count by Member Casual**

In [24]:
mcrc_ovr = all_data_filtered.groupby('member_casual')['ride_id'].count().reset_index()
mcrc_ovr['%'] = mcrc_ovr['ride_id']/total_rc*100
mcrc_ovr

  member_casual  ride_id      %
0        casual  1295530 36.817
1        member  2223302 63.183

##### **Ride Count by Bike Type, Member Casual**

In [25]:
mcrc_biketype = all_data_filtered.groupby(['member_casual', 'rideable_type'])['ride_id'].count().reset_index()
mcrc_biketype['%'] = mcrc_biketype['ride_id']/total_rc*100
mcrc_biketype

  member_casual  rideable_type  ride_id      %
0        casual   classic_bike   124731  3.545
1        casual    docked_bike   909738 25.853
2        casual  electric_bike   261061  7.419
3        member   classic_bike   389065 11.057
4        member    docked_bike  1415593 40.229
5        member  electric_bike   418644 11.897

##### **Ride Count by Time of Day, Member Casual**

In [26]:
mcrc_TOD = all_data_filtered.groupby(['member_casual', 'Time of Day'])['ride_id'].count().reset_index()
mcrc_TOD['%'] = mcrc_TOD['ride_id']/total_rc*100
mcrc_TOD

  member_casual Time of Day  ride_id      %
0        casual   Afternoon   386438 10.982
1        casual     Evening   454651 12.921
2        casual  Late Night   227690  6.471
3        casual     Morning   226751  6.444
4        member   Afternoon   600007 17.051
5        member     Evening   776046 22.054
6        member  Late Night   253979  7.218
7        member     Morning   593270 16.860

##### **Ride Count by Day of Week, Member Casual**

In [27]:
mcrc_DOW = all_data_filtered.groupby(['member_casual', 'Day of Week'])['ride_id'].count().reset_index()
mcrc_DOW['%'] = mcrc_DOW['ride_id']/total_rc*100
mcrc_DOW

   member_casual  Day of Week  ride_id     %
0         casual            0   138914 3.948
1         casual            1   140558 3.994
2         casual            2   146415 4.161
3         casual            3   153390 4.359
4         casual            4   196692 5.590
5         casual            5   292981 8.326
6         casual            6   226580 6.439
7         member            0   291899 8.295
8         member            1   312956 8.894
9         member            2   327126 9.296
10        member            3   325172 9.241
11        member            4   338024 9.606
12        member            5   343370 9.758
13        member            6   284755 8.092

##### **Ride Count by Ride Hour, Member Casual**

In [28]:
mcrc_hour = all_data_filtered.groupby(['member_casual', 'Hour'])['ride_id'].count().reset_index()
mcrc_hour['%'] = mcrc_hour['ride_id']/total_rc*100
mcrc_hour

   member_casual  Hour  ride_id     %
0         casual     0    19699 0.560
1         casual     1    12349 0.351
2         casual     2     6586 0.187
3         casual     3     3591 0.102
4         casual     4     3292 0.094
5         casual     5     5105 0.145
6         casual     6    12630 0.359
7         casual     7    22913 0.651
8         casual     8    30960 0.880
9         casual     9    37528 1.066
10        casual    10    51773 1.471
11        casual    11    70947 2.016
12        casual    12    87110 2.476
13        casual    13    93677 2.662
14        casual    14    99337 2.823
15        casual    15   106314 3.021
16        casual    16   115738 3.289
17        casual    17   131546 3.738
18        casual    18   118263 3.361
19        casual    19    89104 2.532
20        casual    20    61556 1.749
21        casual    21    44357 1.261
22        casual    22    39547 1.124
23        casual    23    31608 0.898
24        member     0    13785 0.392
25        member     1     7740 0.220
26        member     2     4043 0.115
27        member     3     2589 0.074
28        member     4     3959 0.113
29        member     5    18905 0.537
30        member     6    60902 1.731
31        member     7   103112 2.930
32        member     8   111803 3.177
33        member     9    94168 2.676
34        member    10    99240 2.820
35        member    11   124045 3.525
36        member    12   146524 4.164
37        member    13   145606 4.138
38        member    14   145695 4.140
39        member    15   162182 4.609
40        member    16   194690 5.533
41        member    17   234814 6.673
42        member    18   204405 5.809
43        member    19   142137 4.039
44        member    20    87108 2.475
45        member    21    52784 1.500
46        member    22    37458 1.065
47        member    23    25608 0.728

##### **Ride Count by Ride Month, Member Casual**

In [29]:
mcrc_month = all_data_filtered.groupby(['member_casual', 'Month'])['ride_id'].count().reset_index()
mcrc_month['%'] = mcrc_month['ride_id']/total_rc*100
mcrc_month

   member_casual  Month  ride_id     %
0         casual      1    17024 0.484
1         casual      2     8994 0.256
2         casual      3    72207 2.052
3         casual      4   136635 3.883
4         casual      5    67403 1.915
5         casual      6   122079 3.469
6         casual      7   205467 5.839
7         casual      8   235368 6.689
8         casual      9   196196 5.576
9         casual     10   129021 3.667
10        casual     11    77367 2.199
11        casual     12    27769 0.789
12        member      1    78043 2.218
13        member      2    38748 1.101
14        member      3   142919 4.062
15        member      4   257996 7.332
16        member      5   110918 3.152
17        member      6   184806 5.252
18        member      7   276780 7.866
19        member      8   326229 9.271
20        member      9   297173 8.445
21        member     10   239930 6.818
22        member     11   169318 4.812
23        member     12   100442 2.854

#### Ride Duration Analysis

##### **Avg Ride Duration by Member Casual**

In [30]:
mcrd_ovr = all_data_filtered.groupby('member_casual')['Ride Duration'].mean().reset_index()
mcrd_ovr['Ride Duration (min)'] = mcrd_ovr['Ride Duration']/60
mcrd_ovr

  member_casual  Ride Duration  Ride Duration (min)
0        casual       1195.783               19.930
1        member        852.538               14.209

##### **Avg Ride Duration by Bike Type, Member Casual**

In [31]:
mcrd_biketype = all_data_filtered.groupby(['member_casual', 'rideable_type'])['Ride Duration'].mean().reset_index()
mcrd_biketype['Ride Duration (min)'] = mcrd_biketype['Ride Duration']/60
mcrd_biketype

  member_casual  rideable_type  Ride Duration  Ride Duration (min)
0        casual   classic_bike       1091.383               18.190
1        casual    docked_bike       1279.345               21.322
2        casual  electric_bike        954.471               15.908
3        member   classic_bike        774.216               12.904
4        member    docked_bike        908.465               15.141
5        member  electric_bike        736.214               12.270

##### **Avg Ride Duration by Time of Day, Member Casual**

In [32]:
mcrd_TOD = all_data_filtered.groupby(['member_casual', 'Time of Day'])['Ride Duration'].mean().reset_index()
mcrd_TOD['Ride Duration (min)'] = mcrd_TOD['Ride Duration']/60
mcrd_TOD

  member_casual Time of Day  Ride Duration  Ride Duration (min)
0        casual   Afternoon       1250.327               20.839
1        casual     Evening       1204.607               20.077
2        casual  Late Night       1172.326               19.539
3        casual     Morning       1108.688               18.478
4        member   Afternoon        877.974               14.633
5        member     Evening        882.339               14.706
6        member  Late Night        788.519               13.142
7        member     Morning        815.236               13.587

##### **Avg Ride Duration by Day of Week, Member Casual**

In [33]:
mcrd_DOW = all_data_filtered.groupby(['member_casual', 'Day of Week'])['Ride Duration'].mean().reset_index()
mcrd_DOW['Ride Duration (min)'] = mcrd_DOW['Ride Duration']/60
mcrd_DOW

   member_casual  Day of Week  Ride Duration  Ride Duration (min)
0         casual            0       1177.755               19.629
1         casual            1       1143.698               19.062
2         casual            2       1118.565               18.643
3         casual            3       1115.648               18.594
4         casual            4       1154.034               19.234
5         casual            5       1268.190               21.136
6         casual            6       1285.910               21.432
7         member            0        820.380               13.673
8         member            1        818.152               13.636
9         member            2        816.598               13.610
10        member            3        815.607               13.593
11        member            4        832.844               13.881
12        member            5        930.187               15.503
13        member            6        936.499               15.608

##### **Avg Ride Duration by Ride Month, Member Casual**

In [34]:
mcrd_month = all_data_filtered.groupby(['member_casual', 'Month'])['Ride Duration'].mean().reset_index()
mcrd_month['Ride Duration (min)'] = mcrd_month['Ride Duration']/60
mcrd_month

   member_casual  Month  Ride Duration  Ride Duration (min)
0         casual      1        892.452               14.874
1         casual      2       1044.324               17.405
2         casual      3       1142.623               19.044
3         casual      4       1150.614               19.177
4         casual      5       1375.128               22.919
5         casual      6       1318.827               21.980
6         casual      7       1312.520               21.875
7         casual      8       1235.620               20.594
8         casual      9       1155.497               19.258
9         casual     10       1049.467               17.491
10        casual     11       1063.024               17.717
11        casual     12        947.941               15.799
12        member      1        687.399               11.457
13        member      2        772.596               12.877
14        member      3        769.422               12.824
15        member      4        832.919               13.882
16        member      5       1045.045               17.417
17        member      6        996.922               16.615
18        member      7        952.281               15.871
19        member      8        899.314               14.989
20        member      9        836.196               13.937
21        member     10        760.654               12.678
22        member     11        755.969               12.599
23        member     12        705.946               11.766

##### **Avg Ride Duration by Ride Hour, Member Casual**

In [35]:
mcrd_hour = all_data_filtered.groupby(['member_casual', 'Hour'])['Ride Duration'].mean().reset_index()
mcrd_hour['Ride Duration (min)'] = mcrd_hour['Ride Duration']/60
mcrd_hour

   member_casual  Hour  Ride Duration  Ride Duration (min)
0         casual     0       1185.131               19.752
1         casual     1       1231.247               20.521
2         casual     2       1256.447               20.941
3         casual     3       1144.740               19.079
4         casual     4       1046.907               17.448
5         casual     5        930.868               15.514
6         casual     6        926.652               15.444
7         casual     7        974.724               16.245
8         casual     8       1002.915               16.715
9         casual     9       1076.374               17.940
10        casual    10       1167.798               19.463
11        casual    11       1204.473               20.075
12        casual    12       1218.281               20.305
13        casual    13       1256.412               20.940
14        casual    14       1267.973               21.133
15        casual    15       1254.736               20.912
16        casual    16       1232.746               20.546
17        casual    17       1204.380               20.073
18        casual    18       1187.459               19.791
19        casual    19       1191.155               19.853
20        casual    20       1193.291               19.888
21        casual    21       1174.215               19.570
22        casual    22       1155.055               19.251
23        casual    23       1157.118               19.285
24        member     0        732.149               12.202
25        member     1        724.759               12.079
26        member     2        712.236               11.871
27        member     3        699.804               11.663
28        member     4        673.369               11.223
29        member     5        716.168               11.936
30        member     6        781.039               13.017
31        member     7        794.853               13.248
32        member     8        788.539               13.142
33        member     9        807.892               13.465
34        member    10        842.129               14.035
35        member    11        857.090               14.285
36        member    12        854.505               14.242
37        member    13        875.394               14.590
38        member    14        893.283               14.888
39        member    15        887.742               14.796
40        member    16        886.909               14.782
41        member    17        889.786               14.830
42        member    18        878.625               14.644
43        member    19        869.120               14.485
44        member    20        841.586               14.026
45        member    21        799.506               13.325
46        member    22        773.059               12.884
47        member    23        749.816               12.497

#### Top Start/End Stations

##### **Top 10 Start Station - Overall**

In [36]:
start_station_ovr = all_data_filtered.groupby('start_station_name')['ride_id'].count().reset_index().sort_values('ride_id', ascending=False)
start_station_ovr['%'] = start_station_ovr['ride_id']/total_rc*100
start_station_ovr.head(10)

             start_station_name  ride_id     %
139           Clark St & Elm St    33323 0.947
615     Streeter Dr & Grand Ave    30984 0.881
618         Theater on the Lake    29026 0.825
372   Lake Shore Dr & Monroe St    27038 0.768
657       Wells St & Concord Ln    26554 0.755
373  Lake Shore Dr & North Blvd    26118 0.742
57         Broadway & Barry Ave    24743 0.703
658           Wells St & Elm St    24711 0.702
215       Dearborn St & Erie St    24451 0.695
133     Clark St & Armitage Ave    24179 0.687

##### **Top 10 End Station - Overall**

In [37]:
end_station_ovr = all_data_filtered.groupby('end_station_name')['ride_id'].count().reset_index().sort_values('ride_id', ascending=False)
end_station_ovr['%'] = end_station_ovr['ride_id']/total_rc*100
end_station_ovr.head(10)

               end_station_name  ride_id     %
138           Clark St & Elm St    33201 0.944
615     Streeter Dr & Grand Ave    31963 0.908
618         Theater on the Lake    29735 0.845
657       Wells St & Concord Ln    27129 0.771
372  Lake Shore Dr & North Blvd    26109 0.742
371   Lake Shore Dr & Monroe St    25945 0.737
56         Broadway & Barry Ave    25396 0.722
214       Dearborn St & Erie St    24975 0.710
584      St. Clair St & Erie St    24040 0.683
658           Wells St & Elm St    23446 0.666

##### **Top 10 Start Station - Member Casual**

In [38]:
mc_start_station = all_data_filtered.groupby(['member_casual', 'start_station_name'])['ride_id'].count().reset_index()
mc_start_station['%'] = mc_start_station['ride_id']/total_rc*100
mc_start_station.sort_values(['member_casual', 'ride_id'], ascending=False).groupby('member_casual').head(10)

     member_casual          start_station_name  ride_id     %
836         member           Clark St & Elm St    21792 0.619
754         member        Broadway & Barry Ave    16818 0.478
1277        member      St. Clair St & Erie St    16620 0.472
1348        member       Wells St & Concord Ln    16555 0.470
911         member       Dearborn St & Erie St    16545 0.470
1049        member    Kingsbury St & Kinzie St    15657 0.445
1310        member         Theater on the Lake    15447 0.439
1349        member           Wells St & Elm St    15428 0.438
1352        member         Wells St & Huron St    15277 0.434
830         member     Clark St & Armitage Ave    14832 0.422
605         casual     Streeter Dr & Grand Ave    21223 0.603
368         casual   Lake Shore Dr & Monroe St    17388 0.494
449         casual             Millennium Park    14758 0.419
608         casual         Theater on the Lake    13579 0.386
369         casual  Lake Shore Dr & North Blvd    11754 0.334
138         casual           Clark St & Elm St    11531 0.328
443         casual       Michigan Ave & Oak St    11499 0.327
322         casual  Indiana Ave & Roosevelt Rd    10665 0.303
647         casual       Wells St & Concord Ln     9999 0.284
145         casual      Clark St & Lincoln Ave     9713 0.276

##### **Top 10 End Station - Member Casual**

In [39]:
mc_end_station = all_data_filtered.groupby(['member_casual', 'end_station_name'])['ride_id'].count().reset_index()
mc_end_station['%'] = mc_end_station['ride_id']/total_rc*100
mc_end_station.sort_values(['member_casual', 'ride_id'], ascending=False).groupby('member_casual').head(10)

     member_casual            end_station_name  ride_id     %
848         member           Clark St & Elm St    22318 0.634
1288        member      St. Clair St & Erie St    17828 0.507
924         member       Dearborn St & Erie St    17105 0.486
766         member        Broadway & Barry Ave    17068 0.485
1359        member       Wells St & Concord Ln    16986 0.483
1061        member    Kingsbury St & Kinzie St    15822 0.450
1322        member         Theater on the Lake    15058 0.428
1360        member           Wells St & Elm St    14666 0.417
1363        member         Wells St & Huron St    14322 0.407
1348        member   Wabash Ave & Roosevelt Rd    14150 0.402
614         casual     Streeter Dr & Grand Ave    22424 0.637
371         casual   Lake Shore Dr & Monroe St    16320 0.464
454         casual             Millennium Park    15988 0.454
617         casual         Theater on the Lake    14677 0.417
372         casual  Lake Shore Dr & North Blvd    12199 0.347
448         casual       Michigan Ave & Oak St    11919 0.339
138         casual           Clark St & Elm St    10883 0.309
325         casual  Indiana Ave & Roosevelt Rd    10747 0.305
656         casual       Wells St & Concord Ln    10143 0.288
145         casual      Clark St & Lincoln Ave     9742 0.277

### **Data Visualization (External)**

Will be done using Tableau with extracted CSV file

In [40]:
all_data_filtered.to_csv('GDA_Cyclistic_Python_Final')